<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div>
    <p>{{ shop_name }}への本登録が完了しました。</p>
    <br>
    <p>※本メールはご登録を希望された方のみに送付される自動配信メールです。</p>
    <p>　本メールにご返信いただいてもお答えできませんので、ご了承ください。</p>
    <p>　もし、このメールにお心当たりがない方は、本メールを削除ください。</p>
    <p>　また、ご不明の点がございましたら、下記問合せ窓口までお問い合わせください。</p>
</div>
<hr>
<div>
    <p>=========================================================</p>
    <p>【発行元】</p>
    <p>{{ shop_name }}</p>
    <p>【お問い合わせ】</p>
    <p><a>Email: {{ info_email }}</a> / TEL: {{ info_tel }}</p>
    <p>=========================================================</p>
</div>
</body>
</html>